body {
  background-color: purple;
}

#app {
  background-color: violet;
}

ul {
  list-style-type: none;
}

li.highPrio {
  color: red;
  font-weight: bold;
  font-variant: small-caps;
  border: 5px solid darkred;
  background-color: pink;
}

li.lowPrio {
  color: green;
  border: 2px solid lightgreen;
  background-color: lightyellow;
}

li.medPrio {
  color: blue;
  border: 2px solid yellow;
  background-color: orange;
}

li {
  margin: 20px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
